@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg)
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg)
    }
}

.js-preloader{
    position: fixed;
    inset: 0;
    background: $white;
    z-index: 99999;
    .page-loaded &{
        pointer-events: none;
    }
}

.loading-animation{
    position: absolute;
    left: 50%;
    top: 50%;
    display: block;
    transform: translate(-50%,-50%);
}

.tri-ring {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: $primary;
    animation: spin 2s linear infinite
}

.tri-ring:before,.tri-ring:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    border: 3px solid transparent
}

.tri-ring:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-top-color: $info;
    animation: spin 3s linear infinite
}

.tri-ring:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-top-color: $dark;
    animation: spin 1.5s linear infinite
}


.duo-pulse {
    width: 50px;
    height: 50px;
    display: inline-block;
    transform: translateZ(0);
}
.duo-pulse {
    &::before,&::after{
        content: '';
        background-color: $primary;
        display: inline-block;
        float: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 50px;
        height: 50px;
        opacity: .5;
        border-radius: 50%;
        animation: ballPulseDouble 2s ease-in-out infinite;
    }
    &::after {
        animation-delay: -1s;
    }
}

@keyframes ballPulseDouble {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}