.quiz {
    display:flex;
    flex-direction: column;
}
.row-table {
    display: flex;
    border-bottom: 1px solid #ccc;
    padding-inline: 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
    height: fit-content;
}
.answer {
    display: flex;
    align-items: center;
    height: 60px;
    gap:10px;
    min-width: 150px;
    font-size: 14px;
    flex-grow: 1;
}
.answers {
    display: flex;
    gap: 10px;
    padding-left: 25px;
    margin: 5px;
    box-sizing: border-box;
    flex-grow: 1;
    flex-wrap: wrap;
}
.question {
    flex-grow: 1;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 17px;
}
.question-num {
    margin-left: 15px;
    min-width: 50px;
}
input[type=radio] {
    accent-color: #9d72ff;
    cursor: pointer;
}
.submit-it {
    background-color: #9d72ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
}
.cancel-it {
    background-color: #f5f5f5;
    color: #9d72ff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9px;
    padding: 10px;
    width: 100px;
    height: 50px;
    border: none;
}
.submit-it:hover {
    background-color: #9d72ff;
    box-shadow: 0px 0px 10px 0px #9d72ff;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}
.cancel-it:hover {
    background-color: #f5f5f5;
    box-shadow: 0px 0px 10px 0px #9d72ff;
    color: #9d72ff;
    cursor: pointer;
    transition: 0.2s;
}
.head {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.head > .question {
    width: fit-content;
}
.quiz-pass {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-end;
    padding-right: 70px;
    box-sizing: border-box;
    gap: 20px;
}
.add-head {
    height: 50px;
    border-radius: 5px;
    color: #9d72ff;
    background-color: white;
    border: solid 2px #9d72ff;
    padding-inline: 10px;
}
.add-head img {
    width: 10px;
}
.heading {
    background-color: transparent;
    height: 100px;
    border: solid 1px #9d72ff;
    color: black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding-left: 15px;
    font-size: 48px;
}
.sub-title {
    background-color: transparent;
    height: 50px;
    border: solid 1px #9d72ff;
    color: black;
    border-radius: 5px;
    outline: none;
    width: 100%;
    padding-left: 15px;
    font-size: 24px;
}
.course-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.paragraph {
    border: solid 1px #9d72ff;
    flex-grow: 1;
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
}
.course-form label{
    width: 50%;
}
.AllAnswers{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.form-control {
    flex-grow: 1 !important;
    width: 100% !important;
}
.AllAnswers label {
    flex-grow: 1;
}
.form-control {
    background-color: transparent;
    flex-grow: 1;
    height: 35px;
    border-radius: 5px;
    width: 100%;
    max-width: 240px;
    margin: 5px 0 0 5px;
}
.moreInfo {
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 10px;
    justify-content: flex-end;
}
.edit-form-control {
    max-width: 70px;
}
.question {
    flex-grow: 1;
    height: 50px;
    display: flex;
    align-items: center;
    width: 100%;
    font-size: 17px;
    gap: 15px;
}
.dialog-r {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
}
.result-wrap {
    display: flex;
}
#score {
    color: greenyellow;
}
.overlay {
    width: 100%;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    opacity: 0.2;
    z-index: 1;
}